@-moz-document url("chrome://browser/content/browser.xhtml")
{
  /* dark tabs by default */
  #browser vbox#appcontent tabbrowser #content,
  #tabbrowser-tabpanels,
  browser[type="content-primary"],
  browser[type="content"] > html {
    background: #4a4a4f !important;
  }

  /* Hide main tabs toolbar */
  #TabsToolbar {
    visibility: collapse !important;
  }

  /* display status always on the right */
  #statuspanel {
    position: fixed;
    right: -17px;
    bottom: 0;
    text-align: right;
  }

  /* hide sidebar header, when usinge TabCenter Reborn */
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]
    #sidebar-header {
    visibility: collapse;
  }

  /* Sidebar min and max width removal */
  #sidebar {
    max-width: none !important;
    min-width: 0px !important;
  }

  /* Hide splitter, when usinge TabCenter Reborn */
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]
    + #sidebar-splitter {
    display: none !important;
  }

  /* Shrink sidebar until hovered, when usinge TabCenter Reborn */
  :root {
    --thin-tab-width: 34px;
    --wide-tab-width: 200px;
  }
  #sidebar-box:not(
      [sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]
    ) {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
  }
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] {
    overflow: hidden !important;
    position: relative !important;
    transition: all 200ms !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
    z-index: 3;
  }
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:hover,
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]
    #sidebar {
    transition: all 200ms !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;
    z-index: 3;
  }

  /* Negative right-margin to keep page from being pushed to the side. */
  #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:hover {
    margin-right: calc(
      (var(--wide-tab-width) - var(--thin-tab-width)) * -1
    ) !important;
  }

  /* Make urlbar appear more compact */
  #urlbar[breakout] {
    margin-left: 0 !important;
    width: var(--urlbar-width) !important;
    margin-top: calc(
      (var(--urlbar-container-height) - var(--urlbar-height)) / 2
    ) !important;

    > .urlbar-input-container {
      height: var(--urlbar-height) !important;
      padding-block: var(--urlbar-container-padding) !important;
      padding-inline: var(--urlbar-container-padding) !important;
      border-radius: var(--toolbarbutton-border-radius) !important;
    }
  }
  #urlbar[breakout]:not([open]) {
    margin-bottom: calc(
      (var(--urlbar-container-height) - var(--urlbar-height)) / 2
    ) !important;
  }
  .urlbarView {
    margin-top: calc(
      (var(--urlbar-container-height) - var(--urlbar-height)) / 2
    ) !important;
    margin-inline: 0 !important;
    width: auto !important;
  }
  .urlbarView-row {
    padding: 0 2px !important;
  }
  .urlbarView-row-inner {
    padding-inline-start: 4px !important;
  }
  #urlbar-background {
    animation: none !important;
    border-color: var(--toolbar-field-border-color) !important;
  }
  #urlbar-input-container {
    padding: 0 !important;
    height: 100% !important;
  }
  #identity-box {
    padding-block: var(--urlbar-icon-padding);
  }
  .urlbarView > .search-one-offs:not([hidden]) {
    padding-block: 1px !important;
  }
}
