
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
  background: #3c3836;
  border: 1px solid #928374;
}
tooltip label {
  color: #d5c4a1;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ebdbb2; */
}

#tags button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#tags button.occupied {
    box-shadow: inset 0 -3px #ebdbb2;
}

#tags button.focused {
    background-color: #458588;
    color: #282828;
}

#tags button.urgent {
    background-color: #fb4934;
}

#mode {
    background-color: #458588;
    border-bottom: 3px solid #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ebdbb2;
}

#window,
#tags {
    margin: 0 4px;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#clock {
    background-color: #504945;
    color: #ebdbb2;
}

#battery {
    background-color: #504945;
    color: #ebdbb2;
}

#battery.charging, #battery.plugged {
    color: #282828;
    background-color: #b8bb26;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282828;
}

#cpu {
    background-color: #504945;
}

#memory {
    background-color: #504945;
}

#backlight {
    background-color: #504945;
}

#network {
    background-color: #504945;
}

#network.disconnected {
    background-color: #fb4934;
}

#pulseaudio {
    background-color: #504945;
    color: #ebdbb2;
}

#pulseaudio.muted {
    background-color: #3c3836;
    color: #bdae93;
}

#wireplumber {
    background-color: #504945;
    color: #282828;
}

#wireplumber.muted {
    background-color: #fb4934;
}

#temperature {
    background-color: #504945;
}

#temperature.critical {
    background-color: #cc241d;
}

#tray {
    background-color: #504945;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#idle_inhibitor {
    background-color: #504945;
}

#idle_inhibitor.activated {
    background-color: #d5c4a1;
    color: #282828;
}
